@media screen and(max-width:480px){
    .navbar{
        width: 100%;
        height: 200px;
    } 
    #arti1{
        width: 100%;
        height: 400px;
    }  
    #arti2{
        width: 50%;
        height: 200px;
    }
    .con{
        width: 100%;
        height: 30px;
    }
    #box3{
        width: 100%;
        height: 200px;
    }
    #moun2{
        width: 100%;
        height: 500px;
    }
}